* {
    margin: 0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #E8E3DC;
  }
  
  
  /* ------------------------------------------- */
  header {
    position: fixed;
    width: 100%;
    display: none;
  }
  
  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
  }
  
  .logo-header img {
    width: 70px;
  
  }
  
  .menu img {
    width: 30px;
  }
  
  h2 {
    color: #453633;
  }
  
  /* ------------------------------------------- */




  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: #453633;
  }
  
  .container-footer {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  .container-footer a {
    text-decoration: none;
    color: #fff;
    ;
  }
  
  .logo-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 20px;
  }
  
  .logo-footer img {
    width: 80px;
  }