/* Configuraciones generales para toda la página */

:root {
    --clr-main: #008000;
    --clr-main-light: #fff5e8;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #453633d4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: 0.8fr 4fr;
    background-color: var(--clr-main);
}

aside {
    padding: 2rem 2rem 2rem 2rem;
    padding-right: 0;
    color: var(--clr-white);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    font-weight: 600;
    font-size: 2rem;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.contenedor-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Efecto de cambio de color cuando doy clic */
.boton-menu {
    background-color: transparent;
    border: 0;
    color: var(--clr-white);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: 1rem;
    width: 100%;
}

/* Efecto de cambio de color cuando doy clic */
.boton-menu.active {
    background-color: var(--clr-white);
    color: var(--clr-main);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

/* Efecto curvatura en el final cuando hace contacto por main   */
.boton-menu.active::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 var(--clr-white);
}

.boton-menu.active::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: .5rem;
    box-shadow: 0 -1rem 0 var(--clr-white);
}


.boton-historial {
    margin-top: 2rem;
}

.numerito {
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .15rem .25rem;
    border-radius: .25rem;
}

.boton-historial.active .numerito {
    background-color: var(--clr-main);
    color: var(--clr-white);
}

.texto-footer {
    color: var(--clr-main-light);
    font-size: 0.75rem;
}

main {
    background-color: var(--clr-white);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

.boton-logout{
    margin-top: 14.5rem;
    /* background-color: transparent; */
    border: 0;
    color: var(--clr-red);
    cursor: pointer;
    /* display: flex; */
    align-items: center;
    gap: 3rem;
    font-weight: 600;
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 10px;
    /* width: 100%; */
   
}

.titulo-principal {
    color: var(--clr-main);
    margin-bottom: 2rem;
    font-size: 2rem;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto-imagen {
    max-width: 100%;
    border-radius: 1rem;
}

.producto-detalles {
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.producto-titulo {
    font-size: 1rem;
}

.producto-agregar {
    border: 0;
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--clr-white);
    transition: background-color .2s, color .2s;
}

.producto-agregar:hover {
    background-color: var(--clr-main);
    color: var(--clr-white);
}



/** Historial **/

.contenedor-historial {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 0.9rem;
}

.historial-vacio,
.historial-comprado {
    color: var(--clr-main);
}

.historial-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.historial-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-gray);
    color: var(--clr-main);
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.historial-producto-titulo p,
.historial-producto-fecha p,
.historial-producto-total p{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.historial-producto-imagen {
    width: 4rem;
    border-radius: 1rem;
}

.historial-producto small {
    font-size: .75rem;
}

.historial-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: var(--clr-red);
    cursor: pointer;
}

.historial-acciones {
    display: flex;
    justify-content: space-between;
}

.historial-acciones-vaciar {
    border: 0;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    cursor: pointer;
}

.historial-acciones-derecha {
    display: flex;
}

.historial-acciones-total {
    display: flex;
    background-color: var(--clr-gray);
    padding: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}

.historial-acciones-detalles {
    border: 0;
    background-color: var(--clr-main);
    padding: 0.5rem;
    color: var(--clr-white);
    cursor: pointer;
    border-radius: 0.5rem;
}

.header-mobile {
    display: none;
}

.close-menu {
    display: none;
}

.disabled {
    display: none;
}

#modal {
    display: none;
}

#modal[open] {
    display: block;
}

.centrado-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 900px; /* Ajusta el ancho según tus necesidades */
    max-width: 90%; /* Limita el ancho máximo para pantallas pequeñas */
    border-radius: 8px;
    padding: 10px;
}

.modal-content {
    padding: 16px;

}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom:  8px;
    margin-bottom: 8px;
 
}

.modal-title {
    margin: 0;
    color: var(--clr-main);
}

.table{
    width: 100%;
    align-items: center;
    justify-content: center;
    color: var(--clr-main);
}
.table tr{
    text-align: center;
    color: var(--clr-main);
    padding-top: 50px;
}



.close-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #555;
}

.modal-body {
    padding-bottom: 16px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
}

.btn {
    padding: 8px 16px;
    margin-left: 8px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.btn-secondary {
    background-color: #6c757d;
}

/*** MEDIA QUERIES ***/

@media screen and (max-width: 850px) {
    .contenedor-informacion {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 675px) {
    .contenedor-informacion {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {

    .container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    aside {
        position: fixed;
        z-index: 9;
        background-color: var(--clr-main);
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .2s;
    }

    .aside-visible {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .boton-menu.active::before,
    .boton-menu.active::after {
        display: none;
    }

    main {
        margin: 1rem;
        margin-top: 0;
        padding: 2rem;
    }

    .contenedor-informacion {
        grid-template-columns: 1fr 1fr;
    }

    .header-mobile {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-mobile .logo {
        color: var(--clr-gray);
    }

    .open-menu, .close-menu {
        background-color: transparent;
        color: var(--clr-gray);
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .historial-producto {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: .5rem;
    }

    .historial-producto-subtotal {
        display: none;
    }

    .historial-acciones {
        flex-wrap: wrap;
        row-gap: 1rem;
    }
    

}



@media screen and (max-width: 400px) {
    .contenedor-informacion {
        grid-template-columns: 1fr;
    }
}