@import url(Layout.css);



.section-one {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  background-image: url("../Img/bg2.png");

}

.container-section-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;

}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.logo img {
  width: 250px;
}

.logo p {
  font-size: 40px;
  color: #fff;
  font-weight: 700;
}

.btn-shop {
  margin-top: 90px;
}

.btn-shop a {
  /*     font-family:'Indie Flower', cursive; */
  font-size: 25px;
  text-decoration: none;
  color: #fff;
  padding: 20px 30px;
  background-color: #00800088;
  border-radius: 20px;
}


.arrow {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* transform: rotate(90deg); */
  cursor: pointer;
}

.arrow span {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}


/* ----------------------- */

.container-section-two {
  padding-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-carousel {
  padding: 80px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-carousel h2 {
  font-size: 45px;
  text-align: center;
}

.carrousel {

  padding: 80px 0;
  display: flex;
  gap: 20px;
  overflow-x: auto;
  overscroll-behavior-x: auto;
  align-items: start;

}



.card {
  width: 450px;
  height: 300px;
  background-image: url(../Img/IMG1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: blue;
  block-size: 300px;
}



.content-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  background: #000;
  color: white;
  opacity: 0;
}

.content-card:hover {
  opacity: 1;
}

.link-shop {
  background-image: url(../Img/patron1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 20;
  height: 600px;
}

.container-link-shop {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 100%;
}

.container-link-shop a {
  font-size: bold;
  text-decoration: none;
  color: white;
  font-size: 40px;
  background-color: #008000da;
  padding: 20px 60px;
  border-radius: 10px;
  margin-bottom: 120px;
}

.comment-users {
  padding: 100px;
  height: 400px;
}

.container-comment-users {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.comment {
  width: 900px;
  background-color: #ffffffbd;
  padding: 30px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 20px;
}

.text-comment {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 10px;

}

.text-comment span {
  color: #000000a4;
}

.imagen-comment {
  width: 550px;
  height: 250px;
  display: flex;
  justify-content: start;
  overflow: hidden;
  border-radius: 50%;
}

.galery {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.container-galery {
  padding: 20px 60px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.container-galery h2 {
  font-size: 60px;
}

.content-galery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.imagen-galery {
  width: 400px;
  height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagen-galery img {
  width: 100%;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: #F0F5F9;
}

.container-contact {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 20px;
}

.container-contact h2 {
  font-size: 60px;
}

.form-contact {
  display: flex;
  flex-direction: column;

  align-items: end;
}

.form {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 10px;
  grid-template-columns: auto auto auto auto;
}

.form input {
  border: none;
  border-radius: 5px;
  background-color: #4629293a;
}

.form :nth-child(1) {
  grid-column: 1 / 2;

}

.form :nth-child(2) {
  grid-column: 3 / 5;

}

.form :nth-child(3) {
  grid-column: 1 / 3;
  padding: 10px;
  width: 300px;

}

.form :nth-child(4) {

  padding: 10px;
  width: 300px;
}

.form :nth-child(5) {
  grid-column: 1 / 5;
  margin-top: 20px;

}

.form :nth-child(6) {
  grid-column: 1 / 4;

  padding: 10px;
}

.form-contact button {
  padding: 8px;
  margin-top: 20px;
  width: 120px;
  margin-right: 10px;
  border: none;
  background-color: #453633;
  color: #fff;
  border-radius: 5px;

}

